body {
    text-align: center;
        margin-top: 30px;
        font-family: "Courier";
        background-color: #fff5e4;
        color: #ff9494;
}
.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: left;
}
.reason {
    cursor: pointer;
    background: #e67373;
    color: #ffe3e1;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.reason:hover {
    animation: shake 0.5s ease-in-out;
}
.hidden-text {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    background: #ffe3e1;
    padding: 0 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.hidden-text.show {
    max-height: 100px;
    opacity: 1;
    padding: 10px;
}

.button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
    font-family: "courier";
    margin-bottom: 20px;
    background-color: #ffe3e1;
    color: #e67373;
    border-radius: 12px;
    border: 2px solid #ffe3e1;
    box-shadow: 1px 1px 2px #ff9494;
    transition: 0.3s;
  }

.button:hover {
    background-color: #ff9494;
    color: #ffe3e1;
    border: 2px solid #ff9494;
    box-shadow: 1px 1px 2px #ffe3e1;
}
  